# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Visual Studio Code
.vs
.Debug\net6.0
/api/ProductManager/ProductManager/obj/Debug/net6.0
/api/ProductManager/ProductManager/bin/Debug/net6.0
/api/SalesPersonManager/SalesPersonManager/obj/Debug/net6.0
/api/SalesPersonManager/SalesPersonManager/bin/Debug/net6.0
/api/CustomerManager/CustomerManager/bin/Debug/net6.0
/api/CustomerManager/CustomerManager/obj/Debug/net6.0
/api/DiscountManager/DiscountManager/bin/Debug/net6.0
/api/DiscountManager/DiscountManager/obj/Debug/net6.0
/api/SalesManager/SalesManager/bin/Debug/net6.0
/api/SalesManager/SalesManager/obj/Debug/net6.0
